/* Desktop */
.header {
  position: fixed;
  background: white;
  color: #707070;
  height: auto;
  width: 100%;
  text-align: start;
  transition: .4s ease;
  z-index: 9000;
  box-shadow: 0 0 5px 5px rgba(57, 57, 57, 0.1);
}

.header-up {
  transform: translateY(-100px);
}

.header-main {
  width: auto;
  height: auto;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0px 25px;
}

.header-main-icon {
  display: inline-block;
  float: left;
  margin: 12px 0;
  width: 100px;
  height: 30px;
}

.header-main-icon img {
  object-fit: contain;
}

.header-main-menu {
  display: inline-block;
  float: left;
  margin: 15px 30px 0;
}

.header-main-menu-text {
  display: inline-block;
  font-size: 14px;
  opacity: 1;
  letter-spacing: -0.9px;
  margin-left: 15px;
}

.header-main-menu-text .active {

}

.header-main-menu-list-item {
  display: inline;
  padding-right: 30px;
}

.header-main-login {
  display: inline-block;
  float: right;
  margin: 15px 0;
}

.header-main-login span {
  padding-left: 40px;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .header {

  }

  .header-main {
    display: block;
    text-align: center;
  }

  .header-main-menu-text {
    display: none;
  }

  .header-main-login {
    display: none;
  }

  .header-main-icon {
    display: block;
  }
}
