/* Desktop */
.poman {
  text-align: center;
  height: auto;
  padding-bottom: 50px;
  background: #1e1e1e;
}

.p-bg {
  position: relative;
  text-align: center;
  padding-bottom: 0px;
}

.p-profile-img {
  position: absolute;
  width: 180px;
  height: 180px;
  border: 3px solid #fff;
  border-radius: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.p-bg-img-container:hover {
}

.p-bg-img {
  transition: ease-out 0.7s;
  -webkit-transition: ease-out 0.7s;
  -moz-transition: ease-out 0.7s;

  filter: brightness(70%);
}

.p-bg-img:hover {
  filter: brightness(100%);
}

.p-info {
  height: auto;
  padding-top: 110px;
  text-align: center;
}

.p-info-name {
  display: inline-block;
  letter-spacing: -1px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.p-info-rank {
  display: inline-block;
  letter-spacing: -1px;
  color: #c9c9c9;
  font-size: 20px;
  margin-left: 15px;
}

.p-animation-text {
  letter-spacing: -1px;
  font-size: 16px;
  color: #c9c9c9;
}

.p-info-introduce {
  position: relative;
  text-align: left;
  max-width: 800px;
  margin: 30px auto 0;
}

.p-info-introduce-text {
  letter-spacing: 0px;
  color: #fff;
  font-size: 16px;
  padding: 20px 50px 50px;
}

.p-category {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

.p-info-introduce .p-category {
  padding-left: 50px;
}

.p-info-introduce-hide {
  position: absolute;
  bottom: 0;
  z-index: 500;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    rgba(30,30,30,0),
    rgba(30,30,30,.8),
    #1e1e1e
  );
  padding-top: 120px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;

}

.p-info-introduce-hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 0px auto;
  max-width: 700px;
}
.p-info-introduce-hr-sect::before,
.p-info-introduce-hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(238,238,238,.5);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 0px;
}

.p-info-introduce-hr-sect-contents {
  margin-right: 10px;
  margin-left: 10px;
}

.poman hr {
  max-width: 700px;
  border-top: 1px solid rgba(238,238,238,.5);
}

.p-info-sns {
  margin-top: 10px;
}

.p-info-sns-item {
  display: inline-block;
}

.facebook {
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  margin: 0 7px;
  background: url(../../../images/logo/facebook.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  cursor: pointer;
}

.instagram {
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  margin: 0 7px;
  background: url(../../../images/logo/instagram.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  cursor: pointer;
}

.kakao {
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  margin: 0 7px;
  background: url(../../../images/logo/kakao.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  cursor: pointer;
}

.p-footer-tail {
  background: #fff;
  padding: 15px;
  font-size: 11px;
  color: #1e1e1e;
  text-align: center;
}

.p-footer-tail-container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1050px;
}

.p-footer-tail-copyright {
  display: inline-block;
  font-weight: bold;
}

/* Tablet & Mobile */
@media screen and (max-width: 768px) {
  .poman {

  }

  .p-profile-img {
    width: 120px;
    height: 120px;
  }

  .p-info {
    padding-top: 80px;
  }

  .p-info-name {
    font-size: 20px;
  }

  .p-info-rank {
    font-size: 18px;
  }

  .p-animation-text {
    font-size: 15px;
  }

  .p-info-introduce {
    font-size: 15px;
    padding: 0px;
  }

  .p-info-introduce-text {
    font-size: 15px;
    padding: 20px 20px 20px 20px;
  }

  .p-info-introduce-hr-sect {
    margin-left: 20px;
    margin-right: 20px;
  }

  .p-info-introduce-hide {
    padding-top: 170px;
    font-size: 15px;
  }

  .poman hr {
    margin-left: 20px;
    margin-right: 20px;
  }

  .p-category {
    padding-left: 20px !important;
  }

  .p-profile-img {
    transform: translate(-50%, -55%);
  }
}
