/* Desktop */
.s-drawer {
  width: 450px;
  text-align: center;
}

.s-d-header {
  text-align: center;
  border-bottom: 1px solid rgba(238,238,238,.5);
  height: 70px;
}

.s-d-header .hide {
  cursor: default !important;
}

.s-d-header-prev {
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 20px;
  cursor: pointer;
}

.s-d-header-indicator-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.s-d-header-next {
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 20px;
  cursor: pointer;
}

.s-d-header-indicator {
  display: inline-block;
}

.s-d-header-indicator-item {
  display: inline-block;
  margin: 0 7px;
  width: 13px;
  height: 13px;
  background: #dbdada;
  border-radius: 50%;
}

.s-d-header-indicator .active {
  background: #FF4500 !important;
}

.s-d-footer {
  text-align: center;
  position:absolute;
  bottom:0;
  width: 100%;
  margin-bottom: 50px;
}

.s-s-footer-button-inner {
  font-size: 18px !important;
  color: #E8E8E8 !important;
  background: #FF4500 !important;
  border-color: #FF4500 !important;
  border-radius: 10px !important;
  width: 80%;
  margin: 0 auto !important;
  padding: 15px 30px !important;
  box-shadow: 7px 7px 7px rgba(57, 57, 57, 0.45);
}

/* Mobile */
@media screen and (max-width: 768px) {
  .s-drawer {
    width: 100%;
    height: auto;
  }

  .s-d-footer {
    margin-bottom: 20px;
  }

  .s-s-footer-button-inner {
    font-size: 16px !important;
    width: 80%;
    padding: 15px 20px !important;
  }
}
